{
    "extends": "bullhorn",
    "rules": {
        "global-require": 0,
        "consistent-return": 1,
        "no-console": 0,
        "no-param-reassign": 0
    },
    "globals": {
        "protractor": false,
        "VERSION": false,
        "ENV": false,
        "beforeEachProviders": false
    }
}