# Package/Dependencies
bower_components/
jspm_packages/
node_modules/

# Build results
.[Bb]in/
lib/
build/

# Generated Documentation
.[Dd]oc/

# Others
.DS_Store
.idea/
src/**.js
coverage
.nyc_output
*.log
